# Baked into grubx64.efi by grub-mkstandalone (see scripts/get-grub-assets.sh).
# On launch, find the ESP copy of ISO2Drive's menu and hand off to it.
search --no-floppy --file --set=root /EFI/ISO2Drive/grub.cfg
configfile /EFI/ISO2Drive/grub.cfg
